<%= form_for(extra_spec) do |f| %>
  <% if extra_spec.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(extra_spec.errors.count, "error") %> prohibited this extra_spec from being saved:</h2>

      <ul>
      <% extra_spec.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :speciality %>
    <%= f.text_field :speciality %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
