<%=render "admin/sidebar"%>
<div id="page-content-wrapper">
<p id="notice"><%= notice %></p>

<h1>Alt Kategoriler</h1>

<table class="table">
  <thead>
    <tr>
      <th>Kategori İsim</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @subcategories.each do |subcategory| %>
      <tr>
        <td><%= subcategory.name %></td>
        <td><%= link_to 'Show', subcategory, class:"btn btn-info"%></td>
        <td><%= link_to 'Edit', edit_subcategory_path(subcategory), class:"btn btn-warning" %></td>
        <td><%= link_to 'Destroy', subcategory, method: :delete, data: { confirm: 'Eminmisiniz?' } , class:"btn btn-danger"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Yeni Alt Kategori', new_subcategory_path , class:"btn btn-success"%>
</div>
