<div class="nav-side-menu">
    <div class="brand">Brand Logo</div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
  
        <div class="menu-list">
  
            <ul id="menu-content" class="menu-content collapse out">
                <li>
                  <%= link_to '<i class="fa fa-dashboard fa-lg"></i> Urunler'.html_safe, products_path  %>
                </li>
                <li data-toggle="collapse" data-target="#new" class="collapsed">
                  <a href="#"><i class="fa fa-cogs fa-lg"></i> Ayarlar <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="new">
                  <li><%= link_to 'Kategoriler', categories_path  %></li>
                  <li><%= link_to 'Alt Kategoriler', subcategories_path  %></li>
                  <li><%= link_to 'Markalar', brands_path  %></li>
                </ul>
                 <li>
                  <%= link_to '<i class="fa fa-users fa-lg"></i> Kullanıcılar'.html_safe, subcategories_path  %>
                </li>
            </ul>
     </div>
</div>
