<div id="wrapper">
          <!-- Sidebar -->
          <div id="sidebar-wrapper">
              <ul class="sidebar-nav">
                  <li class="sidebar-brand">
                      Admin Panel

                  </li>
                  <li>
                      <%= link_to 'ÜRÜNLER', products_path, class: "" %>
                  </li>
                  <li>
                      <%= link_to 'KATEGORİLER', categories_path, class: "" %>
                  </li>
                  <li>
                      <%= link_to 'ALT KATEGORİLER', subcategories_path, class: "" %>
                  </li>
                  <li>
                      <%= link_to 'MARKALAR', brands_path, class: "" %>
                  </li>
                </li>
                <li>
                    <%= link_to 'İNDİRİMLER', discounts_path, class: "" %>
                </li>

              </ul>
          </div>
</div>
