<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
</head>

<body>
</br>

    <div id="carousel-header" class="carousel slide" data-ride="carousel" data-interval="8000">

        <!-- Wrapper for slides -->
        <div class="carousel-inner">

            <div class="item active">
                <%=image_tag Picture.first.image.url(:medium)%>
            </div>
            <%Picture.all.each do |pic|%>
              <div class="item">
                  <%=image_tag pic.image.url(:medium)%>
              </div>
            <%end%>

        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-header" role="button" data-slide="next">
            <%=image_tag("left.png")%>
        </a>
        <a class="right carousel-control" href="#carousel-header" role="button" data-slide="next">
            <%=image_tag("right.png")%>
        </a>
    </div>

    <div id="about" class="content-block content-block-cyan">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <h1>Özge Tekstil</h1>
                            <p>
                                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis.
                            </p>
                        </div>
                    </div>
                </div>
            </div>


            <div id="projects" class="recent-projects">
                <div class="recent-projects-title">
                    İNDİRİMLER
                </div>

                <div class="recent-projects-content content-block-gray">
                    <div id="owl-example" class="owl-carousel">
                      <%if !(@discounts.blank?)%>
                        <%@discounts.each do |pro|%>
                          <div>
                              <%=image_tag pro.icon.url, style: 'height:275px;width:%100;'%>
                              <%=link_to pro.name+" İndirim= "+pro.discount.amount, product_path(pro)%>
                          </div>
                        <%end%>
                      <%end%>
                    </div>
                </div>
            </div>



            <div id="blog" class="content-block content-block-gray">
                <div class="container">
                    <header class="block-heading cleafix">
                        <h1>Öne Çıkanlar</h1>
                        <p>En son eklenen ürünler.</p>
                    </header>
                    <div class="block-body">
                        <div class="row">
                            <%Product.order(:created_at).limit(5).each do |por|%>
                              <div class="col-sm-4 blog-post">
                                  <%=image_tag por.icon.url, style: 'height:275px;width:%100;'%>
                                  <a href="#"><h2><%=por.name%></h2></a>
                                  <div class="date"><%=por.created_at.to_date%></div>
                              </div>
                            <%end%>

                        </div>
                    </div>
                </div><!--/container-->
            </div><!-- /.content-block content-blog-gray -->


            <div id="social" class="content-block">
                <div class="container text-center">
                    <div class="hexagon"><a href="#"><i class="fa fa-facebook"></i></a></div>
                    <div class="hexagon"><a href="#"><i class="fa fa-twitter"></i></a></div>
                    <div class="hexagon"><a href="#"><i class="fa fa-google-plus"></i></a></div>
                    <div class="hexagon"><a href="#"><i class="fa fa-instagram"></i></a></div>
                    <div class="hexagon"><a href="#"><i class="fa fa-pinterest"></i></a></div>
                    <div class="hexagon"><a href="#"><i class="fa fa-envelope"></i></a></div>
                </div>
            </div>




</body>

</html>
