<div class="jumbotron">
  <div class="row">
    <div class="col-xs-8">
      <div class="row">
        <div id="carousel-header" class="carousel slide" data-ride="carousel" data-interval="4000">

            <!-- Wrapper for slides -->
            <div class="carousel-inner">

                <div class="item active">
                    <%=image_tag @product.pictures.first.image.url(:medium), style: 'height:750px;;width:auto;'%>
                </div>
                <%@product.pictures.each do |pic|%>
                  <div class="item">
                      <%=image_tag pic.image.url(:medium), style: 'height:750px;;width:auto;'%>
                  </div>
                <%end%>

            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-header" role="button" data-slide="next">
                <%=image_tag("left.png")%>
            </a>
            <a class="right carousel-control" href="#carousel-header" role="button" data-slide="next">
                <%=image_tag("right.png")%>
            </a>
        </div>
      </div>
      <div class="row">
        Ürün resimleri küçük şekilde burda
      </div>
    </div>
    <div class="col-xs-4">
      Ürün Bilgileri Burada
      <%=@product.name%>
      <%=@product.brand.name%>
      <%=@product.subcategory.name%>
    </div>
  </div>
</div>
