<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Urunler</title>
</head>
<body>
  <br>
  <br>

  <nav class="navbar navbar-default center" role="navigation">
  <div class="navbar-inner">
    <ul class="nav navbar-nav">
      <%Category.all.each do |cat|%>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"><%=t(cat.name)%>
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <%cat.subcategories.each do |sub|%>
              <li><%=link_to sub.name,show_path(sub: sub)%></li>
            <%end%>
          </ul>
        </li>

      <%end%>

        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"><%=t("Markalar")%>
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <%Brand.all.each do |br|%>
              <li><%=link_to br.name,show_path(brand: br)%></li>
            <%end%>
          </ul>
        </li>
    </ul>
  </div>
</nav>
      </div>
      <div class="col-xs-2">

      </div>
      <div class="col-sm-8 col-md-8">
        <div id="blog" class="content-block content-block-gray">
          <div class="container">
            <section class="block-body">
              <div class="row">
                <%@products.each do |por|%>
                <div class="col-sm-3 blog-post">
                  <%=image_tag por.icon.url, style: 'height:175px;width:280px;'%>
                  <a href="#"><h3><%=por.name%></h3></a>
                  <div class="date"><%=por.created_at.to_date%></div>
                </div>
                <%end%>
              </div>
            </section>
          </div><!--/container-->

        </div><!-- /.content-block content-blog-gray -->
      </div>
    </div>
  </div>

</body>
</html>
