

<%=render "admin/sidebar"%>
<div id="content">
  <p id="notice"><%= notice %></p>
  <h1>Kategoriler</h1>

  <table class="table">
    <thead>
      <tr>
        <th>Kategori Adı</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= link_to 'Göster', category, class:"btn btn-info"%></td>
        <td><%= link_to 'Düzenle', edit_category_path(category), class:"btn btn-warning" %></td>
        <td><%= link_to 'Sil', category, method: :delete, data: { confirm: 'Eminmisiniz?' }, class:"btn btn-danger" %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'Yeni Kategori Ekle', new_category_path, class:"btn btn-success" %></div>
