<%= simple_form_for @product do |f| %>

    <%= f.input :name %>
    <b>Alt Kategori:</b>
    </br>
    <%= f.select :subcategory_id, Subcategory.all.map { |l| [l.name, l.id, { class: l.id }] }, include_blank: true%>
    </br>
    <b>Marka</b>
    </br>
    <%= f.select :brand_id, Brand.all.map { |l| [l.name, l.id, { class: l.id }] }, include_blank: true%>
    <%= f.input :price %>
    <%= f.input :icon, as: :file %>
    <h3>Alt Kategoriler</h3>
    <div id='pictures'>
      <%= f.simple_fields_for :pictures do |picture| %>
        <%= render 'picture_fields', :f => picture %>
      <% end %>
      <div class='links'>
        <%= link_to_add_association 'Resim Ekle', f, :pictures %>
      </div>
    </div>
    <%= f.button :submit %>
<% end %>
