<%=render "admin/sidebar"%>
<div id="page-content-wrapper">
<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-xs-3">
    <table class="table">
    <thead>
      <tr>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><b>Urun Adı:</b></td>
        <td><%= @product.name %></td>
      </tr>
      <tr>
        <td><b>Urun Kategori:</b></td>
        <td><%= @product.subcategory.category.name %></td>
      </tr>
      <tr>
        <td><b>Urun Alt Kategori:</b></td>
        <td><%= @product.subcategory.name %></td>
      </tr>
      <tr>
        <td><b>Urun Marka:</b></td>
        <td><%= @product.brand.name %></td>
      </tr>
      <tr>
        <td><b>Urun Fiyat:</b></td>
        <td><%= @product.price %></td>
      </tr>
    </tbody>
  </table>
  </div>
  <div class="col-xs-9">
    <p>
      <div class="card" style="width: 45rem">
        <%= image_tag @product.icon.url ,class:"card-img-top"%>
        <div class="card-block">
          <h4 class="card-title">Kapak Resmi</h4>
        </div>
      </div>
    </p>
  </div>
</div>



<p>
<strong>Diğer Resimler:</strong>

<div class="row">
  <% @product.pictures.each do |pic|%>
    <span class="col-xs-3">
    <div class="card" style="width: 25rem;">
      <%= image_tag pic.image.url ,class:"card-img-top"%>
      <div class="card-block">
        <h4 class="card-title">Tip <%= pic.url%></h4>
        <p class="card-text"></p>
      </div>
    </div>
  </span>
   <%end%>
 </div>
</p>

<%= link_to 'Düzenle', edit_product_path(@product) ,class:"btn btn-warning"%> |
<%= link_to 'Geri', products_path ,class:"btn btn-info"%>
</div>
