<%=render "admin/sidebar"%>
<div id="content">
<p id="notice"><%= notice %></p>

<p>
  <strong>Urun Adı:</strong>
  <%= @product.name %>
</p>
<p>
  <strong>Urun Alt Kategori:</strong>
  <%= @product.subcategory.name %>
</p>
<p>
  <strong>Urun Kategori:</strong>
  <%= @product.subcategory.category.name %>
</p>
<p>
  <strong>Urun Fiyatı:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Marka:</strong>
  <%= @product.brand.name %>
</p>

<p>
  <strong>Marka Resim:</strong>
  <%= image_tag @product.icon.url %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
</div>