<!DOCTYPE html>
<html>
<head>
    <title>Dukkan</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <div id="top" class="navbar navbar-dark navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="fa fa-bars fa-2x"></i>
                    </button>
                    <%= link_to 'ÖZGE TEKSTİL', root_path ,class:"navbar-brand" %>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                          <li><%= link_to 'Ürünler', show_path  %></li>
                        <%if user_signed_in?%>
                          <li><%= link_to 'Yönetici Panel', admin_index_path  %></li>
                          <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
                        <%else%>
                          <li><%= link_to 'Giriş', admin_index_path  %></li>
                        <%end%>

                    </ul>
                </div><!--/.navbar-collapse -->
            </div>
        </div>

<%= yield %>
</br>
</br>
<%unless user_signed_in?%>
<footer class="content-block content-block-white">
    <p>&copy; Copyright Photographer 2014.</a></p>
</footer>
<%end%>

</body>
</html>
