<!DOCTYPE html>
<html>
<head>
    <title>Dukkan</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <div class="example3">
  <div id="top" class="navbar navbar-dark navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">

                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="fa fa-bars fa-2x"></i>
                    </button>
                    <ul class="nav navbar-nav navbar-left">
                      <li><%=link_to image_tag("en.png", size: "20x20"), { locale: :en }%></li>
                      <li><%=link_to image_tag("ru.png", size: "20x20"), { locale: :ru }%></li>
                      <li><%=link_to image_tag("tur.png", size: "20x20"), { locale: :tur }%></li>



                    </ul>
                    <%= link_to root_path ,class:"navbar-brand brand" do%>
                        <%=image_tag("logo3.png",height: '118',width: '443')%>
                    <%end%>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                          <li><%= link_to t('urunler'), show_path  %></li>
                          <li><%= link_to t('iletişim'), contact_path  %></li>

                        <%if user_signed_in?%>
                          <li><%= link_to 'Yönetici Panel', admin_index_path  %></li>
                          <li><%= link_to 'Çıkış', destroy_user_session_path, method: :delete %></li>
                        <%end%>

                    </ul>
                </div><!--/.navbar-collapse -->
            </div>
        </div>
</div>
<%= yield %>
</br>
</br>
<%unless user_signed_in?%>
<footer class="content-block content-block-white">

</footer>
<%end%>

</body>
</html>
